body{
    background: #383a3d;
    padding-top: 10vh;  
}
 

form{
    background: #fff;
}
 
.form-container{
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

.button {
    width: 10%;
}